body{
  margin:0;
  font-family:Poppins, sans-serif;
  background:linear-gradient(120deg,#ff9a9e,#fad0c4);
  height:100vh;
  text-align:center;
  overflow:hidden;
}

#musicControl{
  position:fixed;
  top:20px; right:20px;
  background:#ff4d6d;
  color:#fff;
  padding:10px 15px;
  border-radius:50%;
  cursor:pointer;
  z-index:9999;
}
.postcard-container{perspective:1000px;margin-top:40px;}
.postcard{width:300px;height:200px;margin:auto;position:relative;transition:1s;transform-style:preserve-3d;}
.postcard.flip{transform:rotateY(180deg);}
.front,.back{position:absolute;width:100%;height:100%;backface-visibility:hidden;border-radius:15px;}
.back{transform:rotateY(180deg);background:#fff0f6;padding:20px;}
.heart{width:300px;height:300px;margin:auto;position:relative;}
.heart img{width:80px;position:absolute;border-radius:10px;}
.final-text{position:absolute;top:40%;width:100%;font-size:3rem;color:white;}
